<?xml version="1.0" ?>
<robot name="robot" xmlns:xacro="http://www.ros.org/wiki/xacro">
  
  <xacro:include filename="$(find mobile_robot_gazebo)/urdf/materials.xacro" />
  <xacro:include filename="$(find mobile_robot_gazebo)/urdf/macros.xacro" />
  <!-- dummy link -->
<link name="root_link">
	<origin xyz="0 0 0" rpy="0 0 0"/>
</link>

<!-- dummy joint -->
<joint name="root_joint" type="fixed">
	<parent link="root_link"/>
	<child  link="link_chassis"/>
	<origin xyz="0 0 0" rpy="0 0 0"/>
</joint>
<!-- import robot -->
  <xacro:include filename="chassis.xacro"></xacro:include>



<!-- gazebo -->
   <!-- gazebo coloring -->
<gazebo reference="link_chassis">
    <material>Gazebo/Red</material>
  </gazebo>

   <!-- gazebo control plug -->
  <gazebo>
    <plugin filename="libgazebo_ros_diff_drive.so" name="differential_drive_controller">
      <alwaysOn>true</alwaysOn>
      <updateRate>20</updateRate>
      <leftJoint>joint_left_wheel</leftJoint>
      <rightJoint>joint_right_wheel</rightJoint>
      <wheelSeparation>0.4</wheelSeparation>
      <wheelDiameter>0.2</wheelDiameter>
      <torque>0.1</torque>
      <commandTopic>cmd_vel</commandTopic>
      <odometryTopic>odom</odometryTopic>
      <odometryFrame>odom</odometryFrame>
      <robotBaseFrame>root_link</robotBaseFrame>
      <publishTf>1</publishTf>
      <publishOdomTf>true</publishOdomTf>
      <publishWheelTF>false</publishWheelTF>
      <broadcastTF>true</broadcastTF>
<publishWheelJointState>true</publishWheelJointState>

    </plugin>
  </gazebo>

<!-- camera -->
  <gazebo reference="sensor_laser">
    <sensor type="camera" name="camera1">
      <update_rate>30.0</update_rate>
      <camera name="head">
        <horizontal_fov>1.3962634</horizontal_fov>
        <image>
          <width>800</width>
          <height>800</height>
          <format>R8G8B8</format>
        </image>
        <clip>
          <near>0.02</near>
          <far>300</far>
        </clip>
        <noise>
          <type>gaussian</type>
          <!-- Noise is sampled independently per pixel on each frame.
               That pixel's noise value is added to each of its color
               channels, which at that point lie in the range [0,1]. -->
          <mean>0.0</mean>
          <stddev>0.007</stddev>
        </noise>
      </camera>
      <plugin name="camera_controller" filename="libgazebo_ros_camera.so">
        <alwaysOn>true</alwaysOn>
        <updateRate>0.0</updateRate>
        <cameraName>rrbot/camera1</cameraName>
        <imageTopicName>image_raw</imageTopicName>
        <cameraInfoTopicName>camera_info</cameraInfoTopicName>
        <frameName>camera_link_optical</frameName>
        <!-- setting hackBaseline to anything but 0.0 will cause a misalignment
            between the gazebo sensor image and the frame it is supposed to
            be attached to -->
        <hackBaseline>0.0</hackBaseline>
        <distortionK1>0.0</distortionK1>
        <distortionK2>0.0</distortionK2>
        <distortionK3>0.0</distortionK3>
        <distortionT1>0.0</distortionT1>
        <distortionT2>0.0</distortionT2>
        <CxPrime>0</CxPrime>
        <Cx>0.0</Cx>
        <Cy>0.0</Cy>
        <focalLength>0.0</focalLength>
      </plugin>
    </sensor>
  </gazebo>

<!-- laser sensor plugin -->
<gazebo reference="sensor_laser">
	<sensor type="ray" name="head_hokuyo_sensor">
		<pose>0 0 0 0 0 0</pose>
		<visualize>true</visualize>
		<update_rate>20</update_rate>
		<ray>
        <scan>
			<horizontal>
				<samples>720</samples>
				<resolution>1</resolution>
				<min_angle>-3.14</min_angle>
				<max_angle>3.14</max_angle>
			</horizontal>
		</scan>
		<range>
			<min>0.10</min>
			<max>10.0</max>
			<resolution>0.01</resolution>
		</range>
        <noise>
			<type>gaussian</type>
			<mean>0.0</mean>
			<stddev>0.01</stddev>
        </noise>
		</ray>
		<plugin name="gazebo_ros_head_hokuyo_controller" filename="libgazebo_ros_laser.so">
			<topicName>laser/scan</topicName>
			<frameName>sensor_laser</frameName>
		</plugin>
	</sensor>
</gazebo>

</robot>
