<?xml version="1.0" ?>
<robot name="robot" xmlns:xacro="http://www.ros.org/wiki/xacro">
  
  <xacro:include filename="$(find mobile_robot_gazebo)/urdf/materials.xacro" />
  <xacro:include filename="$(find mobile_robot_gazebo)/urdf/macros.xacro" />
  <!-- dummy link -->
<link name="root_link">
	<origin xyz="0 0 0" rpy="0 0 0"/>
</link>

<!-- dummy joint -->
<joint name="root_joint" type="fixed">
	<parent link="root_link"/>
	<child  link="link_chassis"/>
	<origin xyz="0 0 0" rpy="0 0 0"/>
</joint>
<!-- import robot -->
  <xacro:include filename="chassis.xacro"></xacro:include>



<!-- gazebo -->
   <!-- gazebo coloring -->
<gazebo reference="link_chassis">
    <material>Gazebo/Red</material>
  </gazebo>

   <!-- gazebo control plug -->
  <gazebo>
    <plugin filename="libgazebo_ros_diff_drive.so" name="differential_drive_controller">
      <alwaysOn>true</alwaysOn>
      <updateRate>20</updateRate>
      <leftJoint>joint_left_wheel</leftJoint>
      <rightJoint>joint_right_wheel</rightJoint>
      <wheelSeparation>0.4</wheelSeparation>
      <wheelDiameter>0.2</wheelDiameter>
      <torque>0.1</torque>
      <commandTopic>cmd_vel</commandTopic>
      <odometryTopic>odom</odometryTopic>
      <odometryFrame>odom</odometryFrame>
      <robotBaseFrame>root_link</robotBaseFrame>
      <publishTf>1</publishTf>
      <publishOdomTf>true</publishOdomTf>
      <publishWheelTF>false</publishWheelTF>
      <broadcastTF>true</broadcastTF>
<publishWheelJointState>true</publishWheelJointState>

    </plugin>
  </gazebo>


</robot>
