<?xml version="1.0"?>
<launch>


  <!-- upload urdf -->
  <param name="robot_description" command="$(find xacro)/xacro '$(find mobile_robot_gazebo)/urdf/main.xacro'"/>

<!-- setting and publishing joint state values for the given URDF -->
<node 
		name="joint_state_publisher_gui" pkg="joint_state_publisher_gui" 
		type="joint_state_publisher_gui" output="screen"/>
	
  
 <!-- Publish the state of a robot to tf. -->
<node 
		name="robot_state_publisher" pkg="robot_state_publisher" 
		type="robot_state_publisher" output="screen"/>

  <!-- Show in Rviz   -->
  <node 
		name="rviz" pkg="rviz" type="rviz" required="true"
		args="-d $(find mobile_robot_gazebo)/config/config.rviz"/>

</launch>
